[TM_DEVICE]
    Port = /dev/ttyAMA1
    StoreFolder = ./TestMachine001

[EMAIL]
    "sasan.safaei@ica.de"



[DUT_LIST]
    {ICA2405,1.61,1.62}
    #{ICA2315,2.51,2.52,2.61}
    #{ICA2308,1.2,1.3}
    #{ICA2407,1.0}
    #{ICA2506,1.0}
    {ICA2510,1.0}
    #{ICA1234,1.0,2.0}
    #{ICA1235,1.0}

[DUT_DEFAULT]
    FullName=ICA
    toDO_LIST={Init, justOn}
    BOARD_INFO={
        B_VShutdown=4.2
    }
    [DUT_ver]

[DUT]#ICA2405
    DUT-ID=ICA2405
    toDO_LIST={Init ,AR_Test, VCC_Test, Uart_EEPROM, ChargeTest, FlyBackTest, WaitToOutSWOffTest, DisChargeTest, uart_EEPROM_Save }
    BOARD_INFO={
        LTC3350_RSNSI1=0.016,
        LTC3350_RSNSI2=0.016,
        LTC3350_RSNSC=0.003,
        LTC3350_RTST=121,
        LTC3350_RT=107000,
        B_SCapVoltage=3.0,
        B_SCapSingleCap=50,
        B_SCapNum=4,
        B_SCapType=1,
        B_MaxTemp85V=2.2,
        B_VShutdown=4.2
    }
    [DUT_ver]
    version=1.61
    FullName=ICA2405A6-vishay
    [DUT_ver]
    version=1.62
    FullName=ICA2405A6-MaxWell
    BOARD_INFO={
        LTC3350_RSNSI1=0.32,
        B_VShutdown=6.2
    }

[DUT]#ICA2510
    DUT-ID=ICA2510
    toDO_LIST={Init, AR_Test, VCC_Test, uC_Program, Uart_EEPROM, ChargeTest, FlyBackTest, WaitToOutSWOffTest, DisChargeTest};
    [DUT_ver]
        version=1.0
        FullName=ICA2510V1.0
    [DUT_ver]
        version=1.1
        FullName=ICA2510V1.1
    [DUT_ver]
        version=1.2
        FullName=ICA2510V1.2

#[DUT]#ICA1235

#[DUT]#ICA1234
#    DUT-ID=ICA1234
#    toDO_LIST={Init,justOn };





#toDO_ICA2315={Init, AR_Test, VCC_Test, Uart_EEPROM, ChargeTest, FlyBackTest, WaitToOutSWOffTest, DisChargeTest, uart_EEPROM_Save};
#toDO_ICA2405={Init, AR_Test, VCC_Test, Uart_EEPROM, ChargeTest, FlyBackTest, WaitToOutSWOffTest, DisChargeTest, uart_EEPROM_Save};
#toDO_ICA2506={Init, AR_Test, VCC_Test, uC_Program, Uart_EEPROM, ChargeTest, FlyBackTest, WaitToOutSWOffTest, DisChargeTest};
#toDO_ICA2308={Init, VCC_Test, uart_EEPROM_RTC_I2C};
#toDO_ICA2407={Init, VCC_Test, uart_EEPROM_RTC_I2C};
            




#Dongle 1
#ICA2405A6-vishay: ICA2405, 1.61
#ICA2405A6-MaxWell: ICA2405, 1.62 
#Dongle 2
#ICA2315A25-MaxWell: ICA2315, 2.51
#ICA2315A25-CDA: ICA2315, 2.52
#ICA2315A26-MaxWell: ICA2315, 2.61
#Dongle 3
#ICA2308V1.2: ICA2308, 1.2
#ICA2308V1.3: ICA2308, 1.3
#Dongle 4
#ICA2407V1.0: ICA2407, 1.0
#Dongle 5
#ICA2506V1.0-vishay: ICA2506, 1.0
#Dongle 6
#ICA2510V1.0: ICA2510, 1.0
#ICA2510V1.1: ICA2510, 1.1
#ICA2510V1.2: ICA2510, 1.2
#Dongle 7
#ICA1234V1.0: ICA1234, 1.0
