[Unit]
Description=ICA_TM_SERVICE
After=network.target

[Service]
Type=simple
User=ica
StandardOutput=null
StandardError=null
Environment=DISPLAY=:0
Environment=QT_QPA_PLATFORM=linuxfb
ExecStart=/home/ica/ICA-TM-V2/rosWS/runTM.sh
Restart=on-failure


[Install]
WantedBy=multi-user.target


