[TM_DEVICE]
    Port = /dev/ttyAMA1
    StoreFolder = ./TestMachine001
    LPrintCMD = "lp -d QL700 -o PageSize=12x38mm -o fit-to-page=off -o scaling=100 -o resolution=300x300dpi"
    
#labelPrinterPort = /dev/ttyAMA0
#"sasan.safaei@ica.de"
#"sasan.safaei@gmail.com"
#HP_LaserJet_M404
[EMAIL-SERVER]
    smtp_server="sslout.de",
    smtp_port=465,
    sender_email="ica-tm1@ica-service.de",
    sender_password="F!kX6dtmysxx",
    subject="info Mail",
[EMAIL]
    #"sasan.safaei@ica.de"
[PRINTER]    
    EpsonWF   

[CAPS_LIST]
    {0, ICA_CapType_2405_1, "2405-(Vishay- MAL223551008E3  50F 3V 18x35mm",2.6} # orange caps
    {1, ICA_CapType_2405_2, "2405-(MaxWell BCAP0050P300X11 50F 3V 18x41mm",2.6} # blue caps
    {2, ICA_CapType_2315_1, "2315-(MaxWell BCAP0150P300S17 150F 3V 25x50mm",2.7} # blue caps
    {3, ICA_CapType_2315_2, "2315-(CDA CXP-3R0157T-TW  150F 3V 23x58mm",2.5} # Violet caps
    {4, ICA_CapType_2510_1, "2510-(enyGy EC3R010722045S  33F 3V 22x45mm",2.8} # orange caps
    {100, ICA_CapType_Unknown, "Unknown Cap Type",0.0}
    

[DUT_LIST]
    {ICA2405,1.5,1.6}
    {ICA2315,2.51,2.52,2.61}
    {ICA2308,1.2,1.3}
    {ICA2407,0.0,1.0,2.0}
    {ICA2506,1.0,1.1}
    {ICA2510,0.1,1.0,1.1,1.2}

[DUT_DEFAULT]
    FullName=ICA
    BoardKind=Unknown DUT
    toDO_LIST={Init, justOn}
    BOARD_INFO={
        B_VShutdown=0.0
    }
    MEASUREMENT_POINT={
        InCurrent_NoAR_MaxLimit=0.0,
        InCurrent_AR_MinLimit=0.0,
        VCC_minLimit=0.0,
        VCC_maxLimit=0.0
    }
    [DUT_ver]


    

[DUT]#ICA2405
    DUT-ID=2405
    EEPROM_BVer=0x00
    #FullName=ICA2405-NT-USV
    BoardKind=NT-CLX-USV

    toDO_LIST={Init ,AR_Test, VCC_Test, Uart_EEPROM, ChargeTest, FlyBackTest, WaitToOutSWOffTest, DisChargeTest, uart_EEPROM_Save }
    BOARD_INFO={
        LTC3350_RSNSI1=0.016,
        LTC3350_RSNSI2=0.016,
        LTC3350_RSNSC=0.003,
        LTC3350_RTST=121,
        LTC3350_RT=107000,
        B_SCapVoltage=3.0,
        B_SCapSingleCap=50,
        B_SCapNum=4,
        B_SCapType=100,
        B_MaxTemp85V=2.2,
        B_VShutdown=0.0        
    }
    MEASUREMENT_POINT={
        InCurrent_NoAR_MaxLimit=0.020,
        InCurrent_AR_MinLimit=0.100,
        VCC_minLimit=2.85,
        VCC_maxLimit=3.6,
        Load_Current=0.480,
        Limit_MAX_Charge_time=60,
		Limit_MIN_ChargeCurrent=0.350,
		Limit_MIN_FullChargeCurrent=0.160,
		Limit_MAX_WaitToOutSwOff=5,
        Limit_MIN_WaitToOutSwOff=0,
        Limit_MIN_OutSwOff=10,
        Limit_MAX_OutSwOff=30,
        Limit_MIN_VCap_ShutdownVoltage=4.2,
        Limit_MAX_VCap_ShutdownVoltage=4.7
    }
    [DUT_ver]
        version=1.5
        EEPROM_BVer=0xA5
        FullName=ICA2405A5-vishay
        BOARD_INFO={
            B_SCapType=0,
            B_MaxTemp85V=2.6
        }
        toDO_LIST={Init ,AR_Test, VCC_Test, Uart_EEPROM}
    
    [DUT_ver]
        version=1.6
        EEPROM_BVer=0xA6
        FullName=ICA2405A6-vishay
        BOARD_INFO={
            B_SCapType=0,
            B_MaxTemp85V=2.6
        }

[DUT]#ICA2506
    DUT-ID=2506
    EEPROM_BVer=0x00
    #FullName=ICA2506-NT-USV
    BoardKind=NT-CLX-USV-MCU
    toDO_LIST={Init, AR_Test, VCC_Test, uC_Program, Uart_EEPROM, ChargeTest, FlyBackTest, WaitToOutSWOffTest, DisChargeTest}
    BOARD_INFO={
        LTC3350_RSNSI1=0.016,
        LTC3350_RSNSI2=0.016,
        LTC3350_RSNSC=0.003,
        LTC3350_RTST=121,
        LTC3350_RT=107000,
        B_SCapVoltage=3.0,
        B_SCapSingleCap=50,
        B_SCapNum=4,
        B_SCapType=0,
        B_MaxTemp85V=2.2,
        B_VShutdown=4.2
    }
    MEASUREMENT_POINT={
        InCurrent_NoAR_MaxLimit=0.020,
        InCurrent_AR_MinLimit=0.100,
        VCC_minLimit=2.85,
        VCC_maxLimit=3.6,
        Load_Current=0.48,
        Limit_MAX_Charge_time=60,
		Limit_MIN_ChargeCurrent=0.350,
		Limit_MIN_FullChargeCurrent=0.160,
		Limit_MAX_WaitToOutSwOff=12,
        Limit_MIN_WaitToOutSwOff=8,
        Limit_MIN_OutSwOff=3,
        Limit_MAX_OutSwOff=7,
        Limit_MIN_VCap_ShutdownVoltage=4.2,
        Limit_MAX_VCap_ShutdownVoltage=4.7
    }
    [DUT_ver]
        version=1.0
        EEPROM_BVer=0x10
        FullName=ICA2506V1.0-vishay
        B_MaxTemp85V=2.6
    [DUT_ver]
        version=1.1
        EEPROM_BVer=0x11
        FullName=ICA2506V1.0-vishay
        B_MaxTemp85V=2.6

[DUT]#ICA2510
    DUT-ID=ICA2510
    EEPROM_BVer=0x00
    #FullName=ICA2510-NT-MCU
    BoardKind=MB-PSU-MCU
    
    toDO_LIST={Init, AR_Test, VCC_Test, uC_Program, Uart_EEPROM, ChargeTest, FlyBackTest, WaitToOutSWOffTest, DisChargeTest}
    
    
    BOARD_INFO={
        LTC3350_RSNSI1=0.016,
        LTC3350_RSNSI2=0.016,
        LTC3350_RSNSC=0.003,
        LTC3350_RTST=121,
        LTC3350_RT=107000,
        B_SCapVoltage=3.0,
        B_SCapSingleCap=33,
        B_SCapNum=4,
        B_SCapType=4,
        B_MaxTemp85V=2.6,
        B_VShutdown=4.2
    }
    MEASUREMENT_POINT={
        InCurrent_NoAR_MaxLimit=0.030,
        InCurrent_AR_MinLimit=0.100,
        VCC_minLimit=3.1,
        VCC_maxLimit=3.6,
        Load_Current=0.240
        Limit_MAX_Charge_time=70,
		Limit_MIN_ChargeCurrent=0.500,
		Limit_MIN_FullChargeCurrent=0.250,
		Limit_MAX_WaitToOutSwOff=12,
        Limit_MIN_WaitToOutSwOff=8,
        Limit_MIN_OutSwOff=3,
        Limit_MAX_OutSwOff=7,
        Limit_MIN_VCap_ShutdownVoltage=4.0,
        Limit_MAX_VCap_ShutdownVoltage=4.5
    }
    [DUT_ver]
        version=1.0
        EEPROM_BVer=0x10
        FullName=ICA2510V1.0
    [DUT_ver]
        version=1.1
        EEPROM_BVer=0x11
        FullName=ICA2510V1.1
    [DUT_ver]
        version=1.2
        EEPROM_BVer=0x12
        FullName=ICA2510V1.2
    [DUT_ver]#just for test
        version=0.1
        EEPROM_BVer=0x01
        FullName=ICA2510V0.1
        toDO_LIST={Init , AR_Test, VCC_Test, justOn}

[DUT]#ICA2315
    DUT-ID=ICA2315
    EEPROM_BVer=0x00
    #FullName=ICA2315-NT-USV
    BoardKind=NT-CLS-USV
    
    toDO_LIST={Init, AR_Test, VCC_Test, Uart_EEPROM, ChargeTest, FlyBackTest, WaitToOutSWOffTest, DisChargeTest, uart_EEPROM_Save}
    BOARD_INFO={
        LTC3350_RSNSI1=0.006,
        LTC3350_RSNSI2=0.012,
        LTC3350_RSNSC=0.003,
        LTC3350_RTST=5,#for 50 ohm External Load +121R / 10.7 for 100Ohm External Load
        LTC3350_RT=107000,
        B_SCapVoltage=3.0,
        B_SCapSingleCap=150,
        B_SCapNum=4,
        B_SCapType=100,
        B_MaxTemp85V=2.2,
        B_VShutdown=0.0
    }
    MEASUREMENT_POINT={
        InCurrent_NoAR_MaxLimit=0.030,
        InCurrent_AR_MinLimit=0.100,
        VCC_minLimit=3.1,
        VCC_maxLimit=3.6,
        Load_Current=0.480
        Limit_MAX_Charge_time=180,
		Limit_MIN_ChargeCurrent=0.300,
		Limit_MIN_FullChargeCurrent=0.160,
		Limit_MAX_WaitToOutSwOff=20,
        Limit_MIN_WaitToOutSwOff=5,
        Limit_MIN_OutSwOff=10,
        Limit_MAX_OutSwOff=30,
        Limit_MIN_VCap_ShutdownVoltage=5.5,
        Limit_MAX_VCap_ShutdownVoltage=6.5
    }
    [DUT_ver]
        version=2.51
        EEPROM_BVer=0x25
        FullName=ICA2315A25-MaxWell
        BOARD_INFO={
            B_SCapType=2,
            B_MaxTemp85V=2.7
        }        
    [DUT_ver]
        version=2.52
        EEPROM_BVer=0x25
        FullName=ICA2315A25-CDA
        BOARD_INFO={
            B_SCapType=3,
            B_MaxTemp85V=2.5
        }
        
    [DUT_ver]
        version=2.61
        EEPROM_BVer=0x26
        FullName=ICA2315A26-MaxWell
        BOARD_INFO={
            B_SCapType=2,
            B_MaxTemp85V=2.7
        }


[DUT]#ICA2308
    DUT-ID=ICA2308
    EEPROM_BVer=0x00
    BoardKind=Linux-Base
    toDO_LIST={Init, VCC_Test, EEPROM_RTC_I2C}
    [DUT_ver]
        version=1.2
        EEPROM_BVer=0x12
        FullName=ICA2308V1.2
    [DUT_ver]
        version=1.3
        EEPROM_BVer=0x13
        FullName=ICA2308V1.3

[DUT]#ICA2407
    DUT-ID=ICA2407
    EEPROM_BVer=0x00
    BoardKind=IBIS-Slave
    toDO_LIST={Init, powerOn, EEPROM_RTC_I2C, IBIS_LoopBackCheck}
    [DUT_ver]
        version=0.0
        FullName=ICA2407V0.0
        toDO_LIST={Init, powerOn, justOn}
    
    [DUT_ver]
        version=1.0
        FullName=ICA2407VB0

[]
